/*
Navbar
*/
nav{
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-social {
    width: 400px;
}

.nav-social li, ul {
    display: inline;
    margin: 0 10px;
}


.logo {
    width: 90px;
}

/*
Project
*/
.project-container {
    border: black;
    border-radius: 10px;
    border-style: solid;
}


footer {
    background-color: black;
    color: white;
}